[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logging = "*"
requests = "==2.9.2"
kafka-python = "==1.3.4"
"ae23c59" = {file = "file:///home/centos/voltron/services/collectors/latency/py-client"}
scapy = "*"
AST = "*"
pyArango = "*"

[dev-packages]

[requires]
python_version = "3.6"
