[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logging = "*"
requests = "==2.9.2"
kafka-python = "==1.3.4"
scapy = "*"
pyarango = "*"
influxdb = "*"
AST = "*"

[dev-packages]

[requires]
python_version = "3.6"
