[
    {
        "netmiko_network": {
            "device_type": "cisco_xr",
            "ip": "localhost",
            "username": "demo",
            "password": "demo",
            "port": 22
        },
        "netmiko_linux": {
            "device_type": "linux",
            "ip": "localhost",
            "username": "unprivileged_demo",
            "password": "unprivileged_demo",
            "port": 57722
        }
    }
]
